# dependencies
node_modules/
Backend/node_modules/
Frontend/node_modules/

# testing
coverage/
Backend/coverage/
Frontend/coverage/

# production
build/
Backend/build/
Frontend/build/

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Backend directory
Backend/.DS_Store
Backend/.env.local
Backend/.env.development.local
Backend/.env.test.local
Backend/.env.production.local

# Frontend directory
Frontend/.DS_Store
Frontend/.env.local
Frontend/.env.development.local
Frontend/.env.test.local
Frontend/.env.production.local