
.seat {
    transform-style: preserve-3d;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:50px;
    max-height:50px;
    min-width:20px;
    max-width:20px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    box-shadow: 0px 0px 5px 0px #0000008c;
}

.seat:hover {
    box-shadow: 0px 0px 20px 0px #e6e6e6b2;
}

.seat-available {
    
    background-color: #2ef038;
}

.seat-available:hover {
    background-color: #028302;
    color: #fff;
}

.seat-taken {
    display: flex;
    justify-content: center;
    align-items: center;
    height:20px;
    width:20px;
    background-color: #da2d2d;
}
.seat-taken:hover {
    cursor: not-allowed;
    box-shadow: 0px 0px 5px 0px #0000008c;
}

.seat-disabled {
    
    background-color: #497ddf !important;
}
.seat-disabled:hover {
    background-color: #002a79 !important;
    color: #fff;
}

.seat-in-cart {
    background-color: #f0a500;
}

.seat-in-cart:hover {
    background-color: #b37400;
    color: #fff;
}

.header-img {
    margin-inline: auto;
    max-width: 1080px;
    height: auto;
    padding-bottom: 4rem;
}

.header-img img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}